# Project 4

In this project, you wil implement the natural language processing and logistic regression techniques that you've used this week.

#### Step 1: Load the Python libraries that you will need for this project.

In [35]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
import os
import nltk
import re

%matplotlib inline

#### Step 2: Read in and examine the scraped data

In [74]:
jobs = pd.read_csv("your_data_here")
jobs.head()

,﻿jobtitlelink_link,jobtitlelink_link/_text,jobtitlelink_link/_title,savejob_label,label,morelikethis_link,morelikethis_link/_text,morelikethis_link/_title,col_description,salary_label,...,seriesgrade_value,locations_label,col_content,multiple_label,openperiod_label,openperiod_value,col_flag,col_value,col_value_dates,row_descriptions
0,https://www.usajobs.gov/GetJob/ViewDetail/4316...,Senior Social Science Analyst,Senior Social Science Analyst 431614500,Save Job,|,https://www.usajobs.gov/Search/MoreLikeThis/?j...,More Like This,More Like This 431614500,...develops and refines a data analysis plan t...,Salary:,...,PE-0101-2A/2A,Location(s):,"District of Columbia, District of Columbia",NaN,Open Period:,3/3/2016 to 3/18/2016,Announcement Number:,GAO-16-ARM-0101-05-DE,NaN,Department: Legislative Branch; Agency: Govern...
1,https://www.usajobs.gov/GetJob/ViewDetail/4328...,"Operations Research Analyst, GS-1515-13, Censu...","Operations Research Analyst, GS-1515-13, Censu...",Save Job,|,https://www.usajobs.gov/Search/MoreLikeThis/?j...,More Like This,More Like This 432826100,...answers to questions and important data on ...,Salary:,...,GS-1515-13/13,Location(s):,Multiple Locations (2),Multiple Locations,Open Period:,3/15/2016 to 3/23/2016,Announcement Number:,DIR-2016-0006,NaN,Department: Department Of Commerce; Agency: Bu...
2,https://www.usajobs.gov/GetJob/ViewDetail/4319...,"Assistant Director, Fossil, Transmission, Biom...","Assistant Director, Fossil, Transmission, Biom...",Save Job,|,https://www.usajobs.gov/Search/MoreLikeThis/?j...,More Like This,More Like This 431957000,...the following seven areas of engineering sc...,Salary:,...,EJ-0801-04/04,Location(s):,"District of Columbia, District of Columbia",NaN,Open Period:,3/8/2016 to 3/28/2016,Announcement Number:,DOE-HQ-LP-16-00588-EXC,NaN,Department: Department Of Energy; Agency: Depa...
3,https://www.usajobs.gov/GetJob/ViewDetail/4328...,Student Trainee (General Engineer Trainee/Phys...,Student Trainee (General Engineer Trainee/Phys...,Save Job,|,https://www.usajobs.gov/Search/MoreLikeThis/?j...,More Like This,More Like This 432890300,...position is located in the Science and Tech...,Salary:,...,GS-0899/1399-05/05,Location(s):,"District of Columbia, District of Columbia",NaN,Open Period:,3/16/2016 to 3/22/2016,Announcement Number:,DHSHQ16-1584604-ST,NaN,Department: Department Of Homeland Security; A...
4,https://www.usajobs.gov/GetJob/ViewDetail/4225...,Interdisciplinary Mathematical Statistician/Su...,Interdisciplinary Mathematical Statistician/Su...,Save Job,|,https://www.usajobs.gov/Search/MoreLikeThis/?j...,More Like This,More Like This 422559200,...and opportunities; comparing data from diff...,Salary:,...,GS-1529/1530-13/13,Location(s):,Multiple Locations (2),Multiple Locations,Open Period:,11/25/2015 to 11/25/2016,Announcement Number:,BOC-2016-0126,NaN,Department: Department Of Commerce; Agency: Bu...

### Intro: Write a problem statement / aim for this project

Hint: We want to understand which attributes affect salaries in data science

### Part 1: Data Wrangling

#### 1. Delete the unnecessary rows in the data

#### 1.1 Rename the columns for easier reading

#### 1.2 Tokenize the position's descriptions

#### 1.3 Search for position descriptions that include "data"

Search the tokenized sentances for "data"; Use '1' if the description has "data" and '0' if it doesn't.  **Hint**: Write a function and loop through the *description* column

Apply the function and delete the old "description" column

#### 1.4: Wrangle the *salary* data and compute a mean salary for each position

Break Apart the Salary Range into two columns

and join the new ranges to the original dataframe

Convert the new ranges back to numeric

Calculate the Mean Salary and append it to the Dataframe

## Part 2: Exploratory Data Analysis

#### 1. Convert the Categorical Data to Numeric for EDA

In [ ]:
def workclass_to_numeric(x):
    if x=='Philadelphia, Pennsylvania':
        return 1
    if x=='Concord, Massachusetts':
        return 2
    if x=='Greenbelt, Maryland':
        return 3
    if x=='Sacramento, California':
        return 4
    if x=='Oakland, California':
        return 5
    if x=='Pullman, Washington':
        return 6

    
Etc.

#### 1.2 Run a basic description of the data

#### 1.3 Plot the Data

## Part 3: Logistic Regression

#### 1. Define the variables that we will use in our regression analysis

#### 1.2 Transform "Y" into a 1-Dimensional Array for SciKit-Learn

#### 1.3 Conduct the Regression

#### 1.4 How can we judge the accuracy of this analysis?

#### 1.5 Examine the coefficients to see our correlations