In [1]:
%matplotlib inline 

import pandas as pd
import numpy as np
from sklearn import cluster, metrics
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import Lab
from scipy.cluster.hierarchy import dendrogram, linkage, cophenet, fcluster
from scipy.spatial.distance import pdist
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

## 1. Format the Data

In [3]:
pd.read_csv("../../assets/datasets/airport2.csv")

,Airport,Year,Departure Cancellations,Arrival Cancellations,Departure Diversions,Arrival Diversions
0,ABQ,2004,242,235,71,46
1,ABQ,2005,221,190,61,33
2,ABQ,2006,392,329,71,124
3,ABQ,2007,366,304,107,45
4,ABQ,2008,333,300,79,42
5,ABQ,2009,192,162,74,26
6,ABQ,2010,222,177,71,50
7,ABQ,2011,345,294,77,61
8,ABQ,2012,237,181,65,60
9,ABQ,2013,232,212,62,46
10,ABQ,2014,315,274,66,37
11,ANC,2004,473,532,73,30
12,ANC,2005,424,484,74,31
13,ANC,2006,367,436,88,50
14,ANC,2007,359,423,93,54
15,ANC,2008,268,355,97,57
16,ANC,2009,354,421,84,80
17,ANC,2010,149,204,84,32
18,ANC,2011,191,265,87,36
19,ANC,2012,216,284,78,36
20,ANC,2013,141,184,65,40
21,ANC,2014,111,162,74,28
22,ATL,2004,7870,8433,737,772
23,ATL,2005,13837,14480,790,1080
24,ATL,2006,6624,7301,913,787
25,ATL,2007,6796,7790,920,1045
26,ATL,2008,5830,6705,982,1072
27,ATL,2009,5324,6303,1064,1116
28,ATL,2010,8198,9279,971,945
29,ATL,2011,6555,7484,903,812
30,ATL,2012,2259,2782,798,655
31,ATL,2013,2916,3450,870,655
32,ATL,2014,5977,6483,781,655

Convert the class labels, in this case the airports, to numeric. *Remember*, we've truncated the airport dataset for simplicty to make this part easy!

## 2. Plot the data

## 3.  Perform a K-Means Clustering

#### 3.1 Split the dataset into the attribute data and class labels

#### 3.2 Conduct the k-means clustering

#### 3.3 Compute the labels and centroids

#### 3.4 Format the resulting predicted "y" variables and check the accuracy score, classification report, and confusion matrix

**Question**: What are we understand from this these performance metrics?

## 4. Extra Trees Classifier

## 5. KNN Classifier

## 6. Hierarchical Clustering

#### 6.1 Create the linkage for clustering

#### 6.2 Plot the Denrogram

## Extra Trees Classifier

## KNN Classifier